<!-- wp:template-part {"slug":"header","className":"site-header"} /-->

<!-- wp:group {"align":"full","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull" style="margin-top:0;margin-bottom:0"><!-- wp:group {"tagName":"main","align":"full","className":"site-main","layout":{"type":"constrained"}} -->
  <main class="wp-block-group alignfull site-main"><!-- wp:template-part {"slug":"banner","align":"wide"} /-->
  
  <!-- wp:spacer {"height":"40px"} -->
  <div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->
  
  <!-- wp:post-title {"textAlign":"left","style":{"spacing":{"margin":{"top":"12px","right":"0","bottom":"0","left":"0"}},"typography":{"lineHeight":"1.2"}},"textColor":"dark-gray"} /-->
  
  <!-- wp:spacer {"height":"40px"} -->
  <div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->
  
  <!-- wp:post-content {"layout":{"type":"constrained","contentSize":"","wideSize":""}} /-->
  
  <!-- wp:spacer {"height":"60px"} -->
  <div style="height:60px" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer --></main>
  <!-- /wp:group --></div>
  <!-- /wp:group -->
  
  <!-- wp:template-part {"slug":"footer","className":"site-footer"} /-->