<!-- wp:template-part {"slug":"header","theme":"portfolio-wp","tagName":"header","align":"full","className":"site-header"} /-->

<!-- wp:spacer {"height":"40px"} -->
<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"tagName":"main","align":"full","className":"site-main","layout":{"inherit":true,"type":"constrained"}} -->
<main class="wp-block-group alignfull site-main"><!-- wp:group {"align":"wide","className":"entry-content"} -->
<div class="wp-block-group alignwide entry-content"><!-- wp:group {"align":"wide","className":"entry-content","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide entry-content" style="margin-top:0;margin-bottom:0"><!-- wp:group {"align":"wide","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group alignwide"><!-- wp:woocommerce/breadcrumbs {"fontSize":"extra-small","style":{"spacing":{"margin":{"bottom":"1rem"}}}} /-->

<!-- wp:buttons {"className":"product-filter-button"} -->
<div class="wp-block-buttons product-filter-button"><!-- wp:button {"className":"is-style-outline","style":{"spacing":{"padding":{"top":"8px","bottom":"8px"}}},"fontSize":"extra-small"} -->
<div class="wp-block-button has-custom-font-size is-style-outline has-extra-small-font-size"><a class="wp-block-button__link wp-element-button" style="padding-top:8px;padding-bottom:8px">Filters</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"top":"16px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide" style="margin-top:16px"><!-- wp:query {"queryId":4,"query":{"perPage":10,"pages":0,"offset":0,"postType":"product","order":"asc","orderBy":"title","author":"","search":"","exclude":[],"sticky":"","inherit":true,"__woocommerceAttributes":[],"__woocommerceStockStatus":["instock","outofstock","onbackorder"]},"namespace":"woocommerce/product-query","align":"wide"} -->
<div class="wp-block-query alignwide"><!-- wp:post-template {"layout":{"type":"grid","columnCount":3}} -->
<!-- wp:group {"className":"hidden-overflow","style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"},"blockGap":"0"},"border":{"radius":"8px","style":"none","width":"0px"}},"backgroundColor":"bg-light","layout":{"type":"constrained"}} -->
<div class="wp-block-group hidden-overflow has-bg-light-background-color has-background" style="border-style:none;border-width:0px;border-radius:8px;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:woocommerce/product-image {"saleBadgeAlign":"left","isDescendentOfQueryLoop":true,"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"0","padding":{"top":"24px","right":"24px","bottom":"24px","left":"24px"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:24px;padding-right:24px;padding-bottom:24px;padding-left:24px"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between"}} -->
<div class="wp-block-group"><!-- wp:post-title {"textAlign":"left","level":4,"isLink":true,"style":{"typography":{"fontStyle":"normal","fontWeight":"600","letterSpacing":"0px"},"elements":{"link":{"color":{"text":"var:preset|color|dark-gray"},":hover":{"color":{"text":"var:preset|color|accent-secondary"}}}}},"textColor":"dark-gray","fontSize":"small"} /-->

<!-- wp:woocommerce/product-price {"isDescendentOfQueryLoop":true,"style":{"typography":{"fontStyle":"normal","fontWeight":"700"}}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:woocommerce/product-button {"width":100,"isDescendentOfQueryLoop":true,"className":"is-style-fill","fontSize":"small","style":{"border":{"radius":{"topLeft":"0px","topRight":"0px","bottomLeft":"8px","bottomRight":"8px"}}}} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:query-pagination {"paginationArrow":"arrow","layout":{"type":"flex","justifyContent":"center"}} -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:group -->

<!-- wp:query-no-results -->
<!-- wp:heading {"level":3,"style":{"spacing":{"margin":{"bottom":"12px"}}}} -->
<h3 class="wp-block-heading" style="margin-bottom:12px">No Results Found</h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"spacing":{"margin":{"top":"0"}}}} -->
<p style="margin-top:0">Consider these top rated products:</p>
<!-- /wp:paragraph -->

<!-- wp:woocommerce/product-top-rated {"rows":1} /-->
<!-- /wp:query-no-results --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:spacer {"height":"40px"} -->
<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:template-part {"slug":"filters-panel","theme":"portfolio-wp"} /-->

<!-- wp:template-part {"slug":"footer","theme":"portfolio-wp","tagName":"footer","align":"full","className":"site-footer"} /-->