<!-- wp:template-part {"slug":"header","theme":"portfolio-wp","tagName":"header","align":"full","className":"site-header"} /-->

<!-- wp:spacer {"height":"40px"} -->
<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"tagName":"main","className":"site-main","layout":{"inherit":true,"type":"constrained"}} -->
<main class="wp-block-group site-main"><!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide" style="margin-top:0;margin-bottom:0"><!-- wp:woocommerce/page-content-wrapper {"page":"checkout"} -->
<!-- wp:post-title {"level":1,"align":"wide"} /-->

<!-- wp:post-content {"align":"wide"} /-->
<!-- /wp:woocommerce/page-content-wrapper --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"portfolio-wp","tagName":"footer","align":"full","className":"site-footer"} /-->